* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
}

main {
    padding: 20px;
    overflow: auto;
    background-color:rgb(244, 241, 241);
}

header {
    background-color:#FFFD66;
    color: #003366;
    padding: 10px 0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100;
    padding: 35px 12%;
    background:#FFFD66;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }

.header a {
    text-decoration: none;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar li a:hover {
    color: #003366;
}

aside {
    float: right;
    width: 25%;
    padding-left: 15px;
    padding-right:15px;
}

a {text-decoration: none;}

p {
    text-decoration:none;
    margin: 20px;
    font-style:'nunito';
}

mark{
    background:#FFFD66;
    color: #003366;
    padding: 5px 5px 5px 5px;
    border-radius: 5%;
    float: left;
}

#competence h2,
img {
    text-align: center;
    width: 95%;
}

#profile header,
h2,
figure,
img {
    text-align: center;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

h2 span {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

figcaption{
    text-align: center;
}

#profile img {
    width: 100px;
    border-radius: 65%;
}

#profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}

footer {
    padding: 20px;
    color: white;
    background-color:#FFFD66;
    text-align: center;
    font-weight: bold;
}

