*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins',sans-serif;
    text-decoration:none;
    list-style:none;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background:#FFFD66;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color:#003366;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color:aliceblue;
    text-shadow: 0 0 25px #003366,
                 0 0 50px #003366;
    transform:scale(1.1);
}

.span {
    color:aliceblue;
}

.navbar a {
    font-size: 18px;
    color:#003366;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a:active {
    color:#003366;
    border-bottom: 3px solid #003366;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 15px 15px;
  background-color:#003366;
  color: wheat;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.PIPAS{
    padding: 10px 28px;
    background-color:#003366;
    color: wheat;
    border: 2px solid transparent;
    border-radius:8px ;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.PIPAS:hover{
    background-color: #FFFD66;
    box-shadow: 0 0 25px #FFFD66;
    color: wheat;
}

.sertifikat {
    text-align: center;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .sertifikat-box {
    border: 4px solid #003366; 
    padding: 10px;
    border-radius: 10px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sertifikat-img {
    max-width: 100%; 
    height: auto;
    display: flex; 
  }

  footer {
    background-color:#FFFD66;
    color:#003366;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .whatsapp-icon img {
    width: 30px; 
    height: 30px;
    margin-top: 10px;
    transition: transform 0.3s;
  }
  
  .whatsapp-icon:hover img {
    transform: scale(1.1); 
  }